# Predicting Interest rates

#### Purpose of the Notebook

### To create a basic linear regression model to predict the interest rates of loans to be granted.

### Step 1: Importing the libraries and data

In [1]:
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

In [2]:
df = pd.read_csv("loan_data_train.csv")

### Step 2 : Exploring the dataset

In [3]:
df.head()

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,79542.0,25000,25000,18.49%,60 months,debt_consolidation,27.56%,VA,MORTGAGE,8606.56,720-724,11,15210,3.0,5 years
1,75473.0,19750,19750,17.27%,60 months,debt_consolidation,13.39%,NY,MORTGAGE,6737.50,710-714,14,19070,3.0,4 years
2,67265.0,2100,2100,14.33%,36 months,major_purchase,3.50%,LA,OWN,1000.00,690-694,13,893,1.0,< 1 year
3,80167.0,28000,28000,16.29%,36 months,credit_card,19.62%,NV,MORTGAGE,7083.33,710-714,12,38194,1.0,10+ years
4,17240.0,24250,17431.82,12.23%,60 months,credit_card,23.79%,OH,MORTGAGE,5833.33,730-734,6,31061,2.0,10+ years

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 15 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ID                              2199 non-null   float64
 1   Amount.Requested                2199 non-null   object
 2   Amount.Funded.By.Investors      2199 non-null   object
 3   Interest.Rate                   2200 non-null   object
 4   Loan.Length                     2199 non-null   object
 5   Loan.Purpose                    2199 non-null   object
 6   Debt.To.Income.Ratio            2199 non-null   object
 7   State                           2199 non-null   object
 8   Home.Ownership                  2199 non-null   object
 9   Monthly.Income                  2197 non-null   float64
 10  FICO.Range                      2200 non-null   object
 11  Open.CREDIT.Lines               2196 non-null   object
 12  Revolving.CREDIT.Balance        2197 non-null   object
 13  Inquiries.in.the.Last.6.Months  2197 non-null   float64
 14  Employment.Length               2131 non-null   object
dtypes: float64(3), object(12)
memory usage: 257.9+ KB

### Step 3: Cleaning the data

In [5]:
df[['FICO_min','FICO_max']] = df["FICO.Range"].str.split("-",expand=True)

In [6]:
df["Interest.Rate"] = df["Interest.Rate"].str.replace("%","")

In [7]:
df["Amount.Requested"] = pd.to_numeric(df["Amount.Requested"], errors = "coerce")
df["Amount.Funded.By.Investors"] = pd.to_numeric(df["Amount.Funded.By.Investors"], errors = "coerce")
df["Revolving.CREDIT.Balance"] = pd.to_numeric(df["Revolving.CREDIT.Balance"], errors = "coerce")
df["Open.CREDIT.Lines"] =  pd.to_numeric(df["Open.CREDIT.Lines"], errors = "coerce")
df["FICO_min"] = pd.to_numeric(df["FICO_min"], errors = "coerce")
df["FICO_max"] = pd.to_numeric(df["FICO_max"], errors = "coerce")
df["Interest.Rate"] = pd.to_numeric(df["Interest.Rate"],errors = "coerce")

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ID                              2199 non-null   float64
 1   Amount.Requested                2195 non-null   float64
 2   Amount.Funded.By.Investors      2196 non-null   float64
 3   Interest.Rate                   2200 non-null   float64
 4   Loan.Length                     2199 non-null   object
 5   Loan.Purpose                    2199 non-null   object
 6   Debt.To.Income.Ratio            2199 non-null   object
 7   State                           2199 non-null   object
 8   Home.Ownership                  2199 non-null   object
 9   Monthly.Income                  2197 non-null   float64
 10  FICO.Range                      2200 non-null   object
 11  Open.CREDIT.Lines               2193 non-null   float64
 12  Revolving.CREDIT.Balance        2195 non-null   float64
 13  Inquiries.in.the.Last.6.Months  2197 non-null   float64
 14  Employment.Length               2131 non-null   object
 15  FICO_min                        2200 non-null   int64
 16  FICO_max                        2200 non-null   int64
dtypes: float64(8), int64(2), object(7)
memory usage: 292.3+ KB

In [9]:
df.isna().sum()

ID                                 1
Amount.Requested                   5
Amount.Funded.By.Investors         4
Interest.Rate                      0
Loan.Length                        1
Loan.Purpose                       1
Debt.To.Income.Ratio               1
State                              1
Home.Ownership                     1
Monthly.Income                     3
FICO.Range                         0
Open.CREDIT.Lines                  7
Revolving.CREDIT.Balance           5
Inquiries.in.the.Last.6.Months     3
Employment.Length                 69
FICO_min                           0
FICO_max                           0
dtype: int64

In [10]:
df.dropna(inplace = True)

In [11]:
df.isna().sum()

ID                                0
Amount.Requested                  0
Amount.Funded.By.Investors        0
Interest.Rate                     0
Loan.Length                       0
Loan.Purpose                      0
Debt.To.Income.Ratio              0
State                             0
Home.Ownership                    0
Monthly.Income                    0
FICO.Range                        0
Open.CREDIT.Lines                 0
Revolving.CREDIT.Balance          0
Inquiries.in.the.Last.6.Months    0
Employment.Length                 0
FICO_min                          0
FICO_max                          0
dtype: int64

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2105 entries, 0 to 2199
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ID                              2105 non-null   float64
 1   Amount.Requested                2105 non-null   float64
 2   Amount.Funded.By.Investors      2105 non-null   float64
 3   Interest.Rate                   2105 non-null   float64
 4   Loan.Length                     2105 non-null   object
 5   Loan.Purpose                    2105 non-null   object
 6   Debt.To.Income.Ratio            2105 non-null   object
 7   State                           2105 non-null   object
 8   Home.Ownership                  2105 non-null   object
 9   Monthly.Income                  2105 non-null   float64
 10  FICO.Range                      2105 non-null   object
 11  Open.CREDIT.Lines               2105 non-null   float64
 12  Revolving.CREDIT.Balance        2105 non-null   float64
 13  Inquiries.in.the.Last.6.Months  2105 non-null   float64
 14  Employment.Length               2105 non-null   object
 15  FICO_min                        2105 non-null   int64
 16  FICO_max                        2105 non-null   int64
dtypes: float64(8), int64(2), object(7)
memory usage: 296.0+ KB

### Step 4: Data Pre-processing

In [13]:
df2 = df.iloc[:,1:]

In [14]:
df2.columns

Index(['Amount.Requested', 'Amount.Funded.By.Investors', 'Interest.Rate',
       'Loan.Length', 'Loan.Purpose', 'Debt.To.Income.Ratio', 'State',
       'Home.Ownership', 'Monthly.Income', 'FICO.Range', 'Open.CREDIT.Lines',
       'Revolving.CREDIT.Balance', 'Inquiries.in.the.Last.6.Months',
       'Employment.Length', 'FICO_min', 'FICO_max'],
      dtype='object')

In [15]:
df2.drop(['FICO.Range'], axis = 1, inplace = True)
df2.drop(["Amount.Funded.By.Investors"], axis = 1, inplace = True)

In [16]:
df2.columns

Index(['Amount.Requested', 'Interest.Rate', 'Loan.Length', 'Loan.Purpose',
       'Debt.To.Income.Ratio', 'State', 'Home.Ownership', 'Monthly.Income',
       'Open.CREDIT.Lines', 'Revolving.CREDIT.Balance',
       'Inquiries.in.the.Last.6.Months', 'Employment.Length', 'FICO_min',
       'FICO_max'],
      dtype='object')

In [17]:
df3 = pd.get_dummies(df2)

In [18]:
df3.head()

,Amount.Requested,Interest.Rate,Monthly.Income,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,FICO_min,FICO_max,Loan.Length_.,Loan.Length_36 months,...,Employment.Length_10+ years,Employment.Length_2 years,Employment.Length_3 years,Employment.Length_4 years,Employment.Length_5 years,Employment.Length_6 years,Employment.Length_7 years,Employment.Length_8 years,Employment.Length_9 years,Employment.Length_< 1 year
0,25000.0,18.49,8606.56,11.0,15210.0,3.0,720,724,0,0,...,0,0,0,0,1,0,0,0,0,0
1,19750.0,17.27,6737.50,14.0,19070.0,3.0,710,714,0,0,...,0,0,0,1,0,0,0,0,0,0
2,2100.0,14.33,1000.00,13.0,893.0,1.0,690,694,0,1,...,0,0,0,0,0,0,0,0,0,1
3,28000.0,16.29,7083.33,12.0,38194.0,1.0,710,714,0,1,...,1,0,0,0,0,0,0,0,0,0
4,24250.0,12.23,5833.33,6.0,31061.0,2.0,730,734,0,0,...,1,0,0,0,0,0,0,0,0,0

### Step 5: Exploratory Data Analysis

In [19]:
print(df3.corrwith(df3['Interest.Rate']))

Amount.Requested              0.329802
Interest.Rate                 1.000000
Monthly.Income                0.003676
Open.CREDIT.Lines             0.094761
Revolving.CREDIT.Balance      0.066917
                                ...
Employment.Length_6 years     0.006513
Employment.Length_7 years     0.002618
Employment.Length_8 years    -0.007565
Employment.Length_9 years    -0.003080
Employment.Length_< 1 year   -0.008691
Length: 1568, dtype: float64

### Step 6: Model Creation

In [20]:
X = df3.drop(columns = ['Interest.Rate'])
Y = df3['Interest.Rate'].values

In [21]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3)

In [22]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()
lr.fit(X_train, Y_train)
Ylr = lr.predict(X_test)

In [23]:
print(lr.intercept_)
print(lr.coef_)

-1404636643.7315147
[ 1.49897738e-04 -3.40768580e-05  3.50355672e-02 ...  1.56217760e+05
  1.56218221e+05  1.56218315e+05]